@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.body {
    width: auto;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBza3l8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #555555c9;
    position: fixed;
}

.navbar a {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);


}

.logo {
    width: 55x;
    height: 40px;
    margin-right: 6px;
}

.logo2 {
    width: 155px;
    height: auto;
    position: absolute;
    left: 48%;
    top: 10%;
}

.navbar .dropdown-item {
    color: black;
}

.sablon {
    position: relative;
    height: 1750px;
    width: 960px;
    box-shadow: 1px 1px 10px 10px rgb(236, 236, 236);
    margin: 40px auto 50px auto;
    background-color: rgb(236, 236, 236);


}

.fotoyazi {
    display: flex;
    flex-direction: column;
}

.fotoyazi .yazi {

    margin: 30px auto 0 auto;
    font-size: 29px;
    font-family: math;
}

.foto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    width: 600px;
    height: 400px;
    box-shadow: 1px 1px 10px 10px #0000004a;
    position: relative;
    background-color: rgba(108, 70, 12, 0.243);
    border-radius: 10px;
    margin: 30px 180px 0 170px;
    align-items: center;
}

.ileti {
    width: 700px;
    height: 1050px;
    margin: 0 auto 0 auto;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: bold;
    background-color: #ffd1191f;
    border-radius: 10px;
}


::-webkit-scrollbar {
    background: #95a5a600;
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #95a5a6;
    border-radius: 10px;

}

.yayinci {
    margin: auto;
    gap: 20px;
    margin-top: 45px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 14px;
    font-family: cursive;
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 30px;

}

.btn-outline-secondary {
    margin-left: 30px;
}



.yazar {
    width: auto;
    display: inherit;
    padding-top: 9px;

}


.tarih {
    width: auto;
    display: inherit;
    padding-top: 9px;
}



.kategori {
    width: auto;
    display: inherit;
    padding-top: 4px;

}



hr {
    width: 20px;
    height: 30px;

    color: black;
    border-style: solid;

}




.input {
    height: 30px;
    width: 180px;
    margin: 0;
    display: block;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    outline-color: rgb(129, 129, 129);
    background-color: #ffd1191f;
    text-align: center;
    padding-top: 3px;
}

.baslik{
    height: 45px;
    width: 450px;
    margin: 0;
    display: block;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    outline-color: rgb(129, 129, 129);
    background-color: #ffd1191f;
    text-align: center;
    padding-top: 3px;
}
