.body {
    background-color: rgb(244, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://wallpaperaccess.com/full/58329.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Sablon {
    background-color: rgba(255, 255, 255, 0.501);
    height: 420px;
    width: 350px;
    position: relative;
    padding: 20px;
    margin: 150px auto auto auto;
    border-radius: 25px;




}

.baslik {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    margin: 17px 0 0 0;
    text-decoration: solid;
}

.username {
    height: 30px;
    width: 180px;
    margin: 40px 0 0 60px;
    display: block;
    border-color: rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;


}

.username:focus {
    border-color: rgb(255, 179, 0);
    transition: 550ms;
    border-width: 2px;
}

.password {
    height: 30px;
    width: 180px;
    margin: 35px 0 10px 60px;
    display: block;
    border-color: rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;


}

.password:focus {
    border-color: rgb(255, 179, 0);
    transition: 550ms;
    border-width: 2px;
}






.button1 {
    margin: 40px 0 0 100px;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgb(255, 255, 255, 0);
    outline: none;
}

.hr {
    width: 30%;
    border-style: solid;
    color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    margin: 5px auto auto auto;

}


.button2 {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin: 10px 0 8PX 80px;
    border-color: rgb(255, 255, 255, 0);
    outline: none;
    font-family: 'Times New Roman', Times, serif;

}

.sifre_unut a {
    color: blanchedalmond;
    margin: 0 0 0 200px;
}